html, body {
    margin: 0;
    height: 100%;
}

.container-fluid{
    height: 100vh !important;
}
#defaultCity{
    color: white;
    background-color: rgb(90, 90, 90);
 
}
#secondaryCity{
    color: white;
    background-color: rgb(90, 90, 90);
 
}
.temp{
    display: inline;
    font-size: 100%;
}
.vL{
    border-left: 2px solid white;
    display: inline;
    margin-right: 10px;
}
.fas{
    color: #2885C7;
}
.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.row{
    width: 100%;
    height: 33.3%
}
/* #weatherSummary{
    height: 33.3%;
    width: 100%;
} */
.test{
    display: inline-block;
    width: 100%;
    height: 60%;
}
.wu{
    height: 100%;
    width: 40%;
}