html, body {
    margin: 0;
    height: 100%;
}

.container-fluid{
    height: 100vh !important;
}
#defaultCity{
    color: white;
    background-color: green;
 
}
#secondaryCity{
    color: white;
    background-color: rgb(255, 166, 0);
}
.temp{
    font-size: 475%;
    align-self: center;
    padding-left: 15px;
}
.vL{
    border-left: 2px solid white;
    display: inline;
    margin-right: 10px;
}
.fas{
    color: #2885C7;
}
.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.wu{
    height: 100%;
    width: 100%;
}
#weatherInfo{
    align-items: center;
    padding-top: 5px;
}
.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}
#city{
    align-self: center;
}
.innerDiv{
    padding-top: 15px;
    padding-bottom: 15px;
}
#tempNum{
    padding-left: 15px;
}